@media(min-width: 540px) {
    .footer_wrapper {
        grid-gap: 20px;
        grid-template-columns: 49% 49%;
    }

    .footer_item {
        padding-left: 40px;
        padding-right: 20px;
    }

    .success_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .page_baner_title h1 {
        font-size: 44px;
        line-height: 54px;
    }
}

@media(min-width: 768px) {
    .section_padding {
        padding: 70px 0px;
    }

    .topbar_social ul {
        gap: 20px;
    }

    .topbar_social ul li a {
        height: 30px;
        width: 30px;
    }

    .topbar_social ul li a i {
        font-size: 16px;
    }

    .our_course_content,
    .card_section_content {
        margin: 40px auto 0px;
    }


    .course_wrapper,
    .card_section_wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 32px;
    }

    .setion_title_heading {
        font-size: 36px;
        line-height: 42px;
    }

    .header_menu {
        display: block;
    }

    .mobile_toggler {
        display: none;
    }

    .footer_wrapper {
        grid-template-columns: 31.33% 31.33% 31.33%;
    }

    .seminar_title p {
        font-size: 45px;
        line-height: 55px;
    }


    .seminar_text p {
        font-size: 18px;
        line-height: 28px;
    }

    .success_wrapper {
        grid-template-columns: repeat(5, 1fr);
    }

    .story_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .single_cousre_wrapper {
        flex-direction: row;
    }

    .single_cousre_thumbnail img {
        min-height: 450px;
    }

    .checkout_page_content,
    .seminar_form_content {
        padding: 30px;
    }

    .input_control {
        height: 50px;
    }

    .cousre_details_title {
        font-size: 56px;
        line-height: 66px;
    }

    .page_banner_content {
        text-align: left;
    }

    .single_course_title p {
        font-size: 36px;
        line-height: 46px;
    }

    .contect_form_content,
    .contact_content_wrapper {
        padding: 30px;
    }

    .login_content {
        padding: 30px;
    }

}

@media(min-width: 1024px) {

    .section_padding {
        padding: 80px 0px;
    }

    .banner_section_wrapper {
        flex-direction: row;
    }

    .banner_content {
        width: calc(48% - 15px);
        padding-right: 50px;
    }

    .banner_thumbnail {
        width: calc(52% - 15px);
    }

    .banner_content_heading p {
        font-size: 52px;
        line-height: 68px;
    }

    .banner_content_text p {
        margin: 30px 0px;
    }

    .banner_thumbnail_image img {
        max-width: 600px;
        margin-left: auto;
    }

    .banner_section {
        height: 100vh;
        padding: 0px;
    }

    .course_wrapper,
    .card_section_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_wrapper {
        grid-template-columns: 30% 20% 20% 20%;
    }

    .seminar_wrapper {
        padding: 68px 48px;
        flex-direction: row;
    }

    .seminar_content,
    .seminar_thumbnail {
        width: 50%;
    }

    .contactus_wrapper {
        flex-direction: row;
    }

    .playlist_sidebar {
        width: 400px;
        left: 0px;
    }

    .playlist_body {
        width: calc(100% - 400px);
        margin-left: 400px;
    }

    .playlist_toggle {
        display: none;
    }

}